* {
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

::placeholder {
  color: white;
  opacity: 1;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('images/wallpapersden.com_sunrise-landscape_1920x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  padding-top: 2em;
}

main .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: center;
  margin: 2em;
}

input {
  background: inherit;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  height: 3em;
  width: 25em;
  font-size: 1rem;
  font-weight: 600;
}

input:focus {
  outline: none;
  border-bottom: 3px solid white;
}

main .location i {
  font-size: 4rem;
}

.weather-details .block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2em;
  column-gap: 1em;
}

.weather-details .block div {
  display: grid;
  grid-template-columns: 3em 3em;
  grid-template-rows: 2em 2em;
  align-items: center;
  justify-items: center;
}

.weather-details .block div i {
  grid-column: 1/5;
  grid-row: 1/5;
  font-size: 1.8rem;
}

.forecast {
  padding-top: 2em;
  text-align: center;
}

.forecast .hourly-button,
.forecast .daily-button {
  margin-bottom: 3em;
  padding: 10px 25px;
  margin-right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
}

.forecast button:hover {
  transform: scale(1.1);
  border: 3px solid red;
}

.forecast .daily .headers,
.forecast .daily .day,
.forecast .hourly .headers,
.forecast .hourly .hour {
  display: grid;
  grid-template-columns: 25% 15% repeat(3, 20%);
  border-bottom: 1px dotted white;
}

.forecast-details {
  display: none;
}

.forecast .daily .day,
.forecast .hourly .hour {
  align-items: center;
  justify-items: center;
}

.headers h3 {
  display: block;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}

.forecast i {
  font-size: 2rem;
}

/*    JAVASCRIPT CLASSES      */

.show {
  display: grid;
}

.active {
  border: 2px solid white !important;
}
